<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="xamarinios10" />
  <package id="System.Diagnostics.Process" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Threading.Tasks" version="4.3.0" targetFramework="xamarinios10" />
  <package id="Xb.App.Job" version="1.0.1" targetFramework="xamarinios10" />
  <package id="Xb.Core" version="1.0.13" targetFramework="xamarinios10" />
  <package id="Xb.Core.Json" version="1.0.4" targetFramework="xamarinios10" />
</packages>